.grid {
  width: 80%;
  margin: 1rem auto;
  height: 50rem;
  background-color: white;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;

  .pokemons {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: (minmax(15em, 17.5em)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(15em, 17.5em));
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 1rem;
  }
}
